<head>
	<style>

	a {position:relative; bottom: 570px; left:670px;}
	span {position:absolute; top:180px; left:250px;}
	section {position:absolute; top:180px; left:275px;}
	</style>


</head>
<body onload="initialize();">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="draw.js"></script>
    <div align="center">
    	<h2 "title"> Frame by Frame </h2>
    	<h4 id="countdown"> 9:34 until the next frame </h4>
    	<a href = "#"> Make a Private Room </a>
    	
    
    	<span>

    	<div id="blackColor" class="color-picker" style="background-color:black; height:20px; width: 25px">
    	</div>

    	<div id="lightGrayColor" class="color-picker" style="background-color:lightgray; height:20px; width: 25px">
    	</div>

    	<div id="grayColor" class="color-picker" style="background-color:gray; height:20px; width: 25px">
    	</div>

    	<div id="sandyBrown" class="color-picker" style="background-color:sandyBrown; height:20px; width: 25px">
    	</div>

    	<div id="khaki" class="color-picker" style="background-color:khaki; height:20px; width: 25px">
    	</div>

    	<div id="lightCorral" class="color-picker" style="background-color:lightCorral; height:20px; width: 25px">
    	</div>

    	<div id="lightYellow" class="color-picker" style="background-color:lightyellow; height:20px; width: 25px">
    	</div>

    	<div id="lightGreen" class="color-picker" style="background-color:lightgreen; height:20px; width: 25px">
    	</div>

    	<div id="lightBlue" class="color-picker" style="background-color:lightblue; height:20px; width: 25px">
    	</div>

    	</span>

    	<section>

		<div id="brown" class="color-picker" style="background-color:brown; height:20px; width: 25px">
    	</div>

    	<div id="red" class="color-picker" style="background-color:red; height:20px; width: 25px">
    	</div>

    	<div id="brown" class="color-picker" style="background-color:brown; height:20px; width: 25px">
    	</div>

    	<div id="pink" class="color-picker" style="background-color:pink; height:20px; width: 25px">
    	</div>

    	<div id="orange" class="color-picker" style="background-color:orange; height:20px; width: 25px">
    	</div>

    	<div id="yellow" class="color-picker" style="background-color:yellow; height:20px; width: 25px">
    	</div>

    	<div id="Green" class="color-picker" style="background-color:green; height:20px; width: 25px">
    	</div>

    	<div id="Blue" class="color-picker" style="background-color:blue; height:20px; width: 25px">
    	</div>

    	</section>
    	<canvas id="frameCanvas" width="780" height="540" style="border:3px solid black"></canvas>
    

    </div>
</body>

