<% content_for :head do %>
  <%= javascript_include_tag "http://localhost:9292/faye/faye.js" %>
<% end %>

<div class="chat">
  <div class="messages">
    <p style="color:#00BFFF"><b>Welcome to the chatroom!</b></p>
  </div>
  <form data-id="<%= @room.id %>"data-password="<%= @room.password %>">
    <input type="text">
    <input type="submit">
  </form>
</div>
