<div class="chat">
  <div class="titleBar">
    <h2>Welcome <span class="displayName" title="Change name">Guest</span>!</h2>
  </div>

  <div class="content">
    <form class="nameForm">
      <input type="text">
      <input type="submit">
    </form>

    <div class="messages">
      <p><b>Welcome to the chatroom!</b></p>
    </div>

    <form id="messageForm">
      <input type="text" class="form-control" placeholder="Enter a message...">
    </form>
  </div>
</div>
