<div class="chat" data-faye="<%= Rails.configuration.faye_url %>">
  <div class="titleBar">
    <h2>Welcome <span class="displayName" title="Change name">Guest</span>!</h2>
    <button class="hideButton">-</button>
  </div>

  <div class="content">
    <form class="nameForm">
      <input type="text">
      <input type="submit">
    </form>

    <div class="messages">
      <p style="color:#00BFFF"><b>Welcome to the chatroom!</b></p>
    </div>

    <form id="messageForm" data-id="<%= @room.id %>" data-password="<%= @room.password %>">
      <input type="text">
      <input type="submit">
    </form>
  </div>
</div>
