<div class="container">
  <div class="page-header">
    <h1><%= t '.title' %></h1>
  </div>
  
  <table class="table">
    <tr>
      <th>Room Name</th>
      <th>Room Status</th>
    </tr>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= link_to room.name, room_path(room) %></td>
        <td><%= room.password.nil? ? "public" : "private" %></td>
      </tr>
    <% end %>
  </table>
</div>