<h1><%= @room.name %></h1>

<% if @room.id != 1 %>
  <%= link_to t(".edit_link"), edit_room_path(:p => @room.password) %>
  <%= render "share" %>
<% end %>

<% if @room.animation %>
  <%= render "canvas" %>
<% end %>
