<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Frame-by-Frame</h1>
    <p>
     Someone has shared a Room with you. <br>
    </p>
    <p>
      To view this Room, just follow this link: <%= @url %>.
    </p>
    <p>Have Fun!</p>
  </body>
</html>
