@import "variables";

#canvas-header {
  text-align: center;
}

#drawing-container {
  margin-top: 16px;

  .row {
      display: table;
  }

  [class*="col-"] {
      float: none;
      display: table-cell;
      vertical-align: top;
  }

  #drawing-tools {
    #black {
      border-radius: 20px;
      border: 2px dashed white;
    }

    .color-picker {
      width: 40px;
      height: 40px;
    }

    #brush-size-display {
      font-size: 12px;
    }

    #brush-size-slider {
      margin-top: 8px;
    }
  }

  #canvas-container {
    width: 960px;
    height: 540px;

    #canvas {
      width: 100%;
      height: 100%;
      background-color: #FFFFFF;
      border: 2px solid $colorDarkGreen;

      &:hover {
        cursor: crosshair;
      }
    }
  }
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
