.chat {
  background: white;
  border: solid gray 1px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 10px;
  width: 300px;

  bottom: 0;
  right: 25px;
  position: fixed;
  z-index: 100;

  .titleBar {
    background: gray;
    border-radius: 2px;
    color: white;
    cursor: move;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;

    h2 {
      font-size: 12pt;
      margin: 0;
    }

    .displayName {
      cursor: pointer;
      text-decoration: underline;
    }

    .hideButton {
      bottom: 0;
      height: 20px;
      margin: auto;
      right: 10px;
      top: 0;
      position: absolute;
      width: 20px;
    }
  }

  .content {
    .messages {
      height: 200px;
      overflow-y: scroll;
      margin-bottom: 10px;

      .self {
        color: red;
      }

      .other {
        color: inherit;
      }
    }

    .messageForm {
      display: flex;

      input[type="text"] {
        flex: 1 0;
        margin-right: 10px;
      }
    }
  }
}
