.chat {
  background: $colorForeground;
  border: solid 3px $colorGreen;
  border-bottom-width: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 300px;

  bottom: 0;
  right: 25px;
  position: fixed;
  z-index: 100;

  .titleBar {
    background: $colorGreen;
    color: white;
    cursor: row-resize;
    padding: 10px;
    position: relative;

    h2 {
      font-size: 12pt;
      margin: 0;
    }

    .displayName {
      cursor: pointer;
      font-weight: bold;
    }

    .hideButton {
      bottom: 0;
      height: 20px;
      margin: auto;
      right: 10px;
      top: 0;
      position: absolute;
      width: 20px;
    }
  }

  .content {
    cursor: move;
    padding-top: 10px;
    padding: 10px;

    .messages {
      height: 200px;
      overflow-y: scroll;
      margin-bottom: 10px;

      .self {
        color: $colorGreen;
      }

      .other {
        color: inherit;
      }
    }

    .messageForm {
      display: flex;

      input[type="text"] {
        flex: 1 0;
        margin-right: 10px;
      }
    }
  }
}
