@import "variables";

body {
  background-color: $colorBackground;
}

.center {
  text-align: center;
}

.table {
  margin-top: 15px;
}

.container {
  background-color: $colorForeground;

  padding: 0 32px 32px 32px;

  border: 2px solid $colorBrown;
  border-top: none;
  border-radius: 0 0 16px 16px;

  .btn-default {
    background-color: $colorGreen;
    color: #FFFFFF;

    &:hover {
        background-color: #FFFFFF;
        color: $colorDarkGreen;
    }
  }
}
