// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "canvas";
@import "chat";

#share_dialog {
  textarea {
    height: 1.5em;
    resize: none;
    padding: 0.5ch 0 0 1ch;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
  }

  span {
    background: #fffb83;
  }
}
