<h1>Landing Page</h1>
<p>This page will serve as the launching point of the application. The user should be able to select
  whether they want to join the public sketch room, create a private sketch room, or view the
  public animation gallery.</p>

<button>Join Public Room</button>
<button>Create Private Room</button>
<button>View Public Gallery</button>
