
<div class="page-header">
  <h1>Public Galleries</h1>
</div>

<div class="row-fluid">
  <%= link_to 'Home', root_path, :class => "btn btn-default"  %>
</div>


<table class="table">
  <tr>
    <th>Gallery Name</th>
  </tr>
  <% if @public_galleries %>
	  <% @public_galleries.each do |gallery| %>
	    <tr>
	      <td><%= link_to gallery.name, room_gallery_path(gallery.room, gallery) %></td>
	    </tr>
	  <% end %>
  <% end %>
</table>
